---
interface Props {
    badge?: string;
    url: string;
    label: string;
}
const { badge, url, label } = Astro.props;
---

<a
    href={url}
    aria-label={label}
    class:list={`
            w-full
            h-10
            rounded-[var(--radius-large)]
            bg-none
            hover:bg-[var(--btn-plain-bg-hover)]
            active:bg-[var(--btn-plain-bg-active)]
            transition-all
            pl-2
            hover:pl-3
            flex
            items-center
            text-neutral-700
            hover:text-[var(--primary)]
            dark:text-neutral-300
            dark:hover:text-[var(--primary)]
            focus-visible:outline-none
            focus-visible:ring-2
            focus-visible:ring-[var(--primary)]
            focus-visible:ring-offset-2
            focus-visible:ring-offset-[var(--card-bg)]
        `}
>
    <div class="flex w-full items-center justify-between relative mr-2">
        <div class="overflow-hidden text-left whitespace-nowrap overflow-ellipsis">
            <slot />
        </div>
        {
            badge !== undefined && badge !== null && badge !== "" && (
                <div
                    class="transition px-2 h-7 ml-4 min-w-[2rem] rounded-lg text-sm font-bold
                    text-[var(--btn-content)] dark:text-[var(--deep-text)]
                    bg-[var(--btn-regular-bg)] dark:bg-[var(--primary)]
                    flex items-center justify-center"
                >
                    {badge}
                </div>
            )
        }
    </div>
</a>
